body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

table {
    margin: 20px auto;
}

tr{
    padding: 10px;
}

td{
    padding: 10px;
}

#start-buttons, #start-button, #start-button-8, #start-button-10, #start-button-12 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#start-button-8, #start-button-10, #start-button-12 {
    font-size: 18px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-button{
    font-size: 18px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
	margin-left:155px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-buttonc{
    font-size: 18px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#start-button-8:hover, #start-button-10:hover, #start-button-12:hover, #start-button:hover, #start-buttonc:hover {
    background-color: grey;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 20px auto;
}

.card {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    background-color: #ddd;
    cursor: pointer;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card:hover {
    transform: scale(1.05);
}

#timer {
    margin-top: 20px;
    font-size: 24px;
    color: red;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

#instructions {
    margin-top: 20px;
    font-size: 16px;
    color: #333;
    text-align: center; /* Center-align the text */
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.column{
	float:left;
	margin-left:35px;
	width:30%;
}

.start-button {
    font-size: 18px;
    padding: 10px 20px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px; /* Add margin between buttons */
}

.start-button:hover {
    background-color: grey;
}
